<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title></title>
    <head>
    <meta charset="UTF-8">
    <title></title>
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.8.2/jquery.min.js"></script>
    <script src="//apis.google.com/js/platform.js?onload=start"> </script>
    <script>
        function getJSON(){
            var formInfo = document.forms['send'];
            formInfo.email.value = sessionStorage.getItem('email');;
            console.log(json);
        }
{#        function postData() {#}
{#            email = sessionStorage.getItem('email');#}
{#            dataValues = {'email' : email}#}
{#            $.ajax(#}
{#                    {#}
{#                        type: 'POST',#}
{#                        data: dataValues,#}
{#                        dataType: "text",#}
{#                        url: 'http://localhost:5050/test3',#}
{#                        success: function(result2){#}
{#                            //console.log(result2);#}
{#                        }#}
{#                    });#}
{##}
{#        }#}
    </script>
</head>
</head>
<body>
    <button onclick="postData()">Check Email</button>
    <div id="form">

      <form id="send" method="post" action="test3" onsubmit="getJSON()" enctype='application/json'>
        <input type="submit" value="Continue" />
        <input type="hidden" name="email" value=""/>
      </form>
</div>
</body>
</html>